$nr: 'nexa-r';
@font-face {
  font-family: $nr;
  src: url(../fonts/nexa/Nexa-Regular.otf) format('opentype');
}

$nl: 'nexa-l';
@font-face {
  font-family: $nl;
  src: url(../fonts/nexa/Nexa-Light.otf) format('opentype');
}

$lg: 'lucida-grande-r';
@font-face {
  font-family: $lg;
  src: url(../fonts/lucida/LucidaGrande.ttf) format('truetype');
}

$ml: 'muli-l';
@font-face {
  font-family: $ml;
  src: url(../fonts/muli/Muli-Light.ttf) format('truetype');
}

$mr: 'muli-r';
@font-face {
  font-family: $mr;
  src: url(../fonts/muli/Muli-Regular.ttf) format('truetype');
}

$msb: 'muli-sb';
@font-face {
  font-family: $msb;
  src: url(../fonts/muli/Muli-SemiBold.ttf) format('truetype');
}

$mb: 'muli-b';
@font-face {
  font-family: $mb;
  src: url(../fonts/muli/Muli-Bold.ttf) format('truetype');
}

$rbr: 'roboto-r';
@font-face {
  font-family: $rbr;
  src: url(../fonts/roboto/Roboto-Regular.ttf) format('truetype');
}