$w: #fff;
$b: #000;

$bg-main: #0e131b;
$btn-cl: #6dd5ed;
$btn-bx-sh: #88e8ff;
$btn-gr-start: #0691b4;
$btn-gr-end: #36d5fa;

// Full height
%fh{  
  height: 100%;
}

// Full width
%fw{  
  width: 100%;
}

// Full height-width
%fhw{
  height: 100%;
  width: 100%;
}

// Justify content: space between
%j-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Justify content: center
%j-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Position absolute mixin
@mixin pa($top:"", $left:"", $bottom:"", $right:"", $unit: "px") {
  position: absolute;
  @if $top != ""{
    top: #{$top}#{$unit};
  }
  @if $left != ""{
    left: #{$left}#{$unit};
  }
  @if $bottom != ""{
    bottom: #{$bottom}#{$unit};
  }
  @if $right != ""{
    right: #{$right}#{$unit};
  }
}

// Mixin for height-width
@mixin hw($h:"", $w:"", $unit: "px") {  
  @if $h != ""{
    height: #{$h}#{$unit};
  }
  @if $w != ""{
    width: #{$w}#{$unit};
  }
}