<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scipoeia Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-controller="Ctrl">
    <div class="header">      
      <img src="img/logo.svg" alt="logo" />
      <nav>
        <a href="javascript:void(0)">Home</a>
        <a href="javascript:void(0)" ng-click="scrollTo('#section1')">Products</a>
        <a href="javascript:void(0)" ng-click="scrollTo('#section2')">Team</a>
        <a href="javascript:void(0)" ng-click="scrollTo('#section4')">Contact Us</a>
      </nav>
      <div class="end">
        <button class="btn-pr-outline">Sign Up</button>
        <button class="btn-pr-outline">Login</button>
      </div>
    </div>
    <section id="section0">
      <div class="inner text-center">          
        <div class="title">Accelerate your scientific research with the newest AI powered tools.</div>
        <div class="sub-title">
          At Scipoeia, we use the latest tools and innovations to drive research, so you can concentrate on the things you're the best at!
        </div>
        <button class="btn-pr" data-toggle="modal" data-target="#sub-modal">SUBSCRIBE</button>
      </div>
    </section>
    <section id="section1">
      <div class="container">
        <div class="text-center pr-title">Products</div>
        <div class="row ctn-pr">
          <div class="col-6">
            <img src="img/explorer.svg" />
          </div>
          <div class="col-6">
            <div class="pr-desc-title">EXPLORER</div>
            <div class="pr-desc">
              <p>
                We engineer bespoke solutions that streamline your customer
                service operations, from implementing intelligent IVR systems
                for efficient customer routing and providing instant answers to
                designing and integrating Al-driven tools like chatbots for 24/7
                customer engagement.
              </p>
            </div>
          </div>
        </div>
        <div class="row ctn-pr">
          <div class="col-6">
            <div class="pr-desc-title">SUGGESTER</div>
            <div class="pr-desc">
              <p>
                Crafting easy-to-use digital self-service experiences, using
                smart technology to make user interactions more personal and
                cohesive across various platforms, like web and apps. 
              </p>
              <p class="mt-4">
                We help
                enhance customer satisfaction and cut costs by reimagining
                applications to fully leverage cloud benefits in AWS, speeding
                up delivery and enabling team expansion.
              </p>
            </div>
          </div>
          <div class="col-6 text-center">
            <img src="img/suggester.svg" />
          </div>
        </div>
        <div class="row ctn-pr">
          <div class="col-6">
            <img class="w-100" src="img/spider-new.png" />
          </div>
          <div class="col-6">
            <div class="pr-desc-title">SPIDER</div>
            <div class="pr-desc">
              <p>
                Explore bespoke Al solutions with us: innovatively creating
                with Generative Al, ensuring ethical practices with Responsible
                Al, and seamlessly integrating them into your business
                operations.
              </p>
            </div>
          </div>
        </div>
        <div class="row ctn-pr">
          <div class="col-6">
            <div class="pr-desc-title">TRACKER</div>
            <div class="pr-desc">
              <p>
                Helping you revolutionise your customer service with our
                Digital Transformation services, enhancing user satisfaction
                through self-service IVR solutions, and optimising agent
                performance with task automation and Al-driven efficiency.
              </p>
            </div>
          </div>
          <div class="col-6 text-center">
            <img src="img/tracker.svg" />
          </div>
        </div>
      </div>
    </section>
    <section id="section2">
      <div class="container">
        <div class="text-center pr-title">Team</div>
        <div class="row ctn-team">
          <div class="col-3 ctn-team-item">
            <img src="img/profile-1.svg">
            <div class="ctn-desc">                
              <div class="title">Evgueni Lakhontov</div>
              <div class="sub-title">Founder & CEO</div>
            </div>
          </div>
          <div class="col-3 ctn-team-item">
            <img src="img/profile-2.svg">
            <div class="ctn-desc">                
              <div class="title">Joana Ray</div>
              <div class="sub-title">CFO</div>
            </div>
          </div>
          <div class="col-3 ctn-team-item">
            <img src="img/profile-3.svg">
            <div class="ctn-desc">                
              <div class="title">Alex Bell</div>
              <div class="sub-title">Fractional CTO</div>
            </div>
          </div>
          <div class="col-3 ctn-team-item">
            <img src="img/profile-4.svg">
            <div class="ctn-desc">                
              <div class="title">Angelica Cor</div>
              <div class="sub-title">Head of Operations</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section3">
      <div class="container">
        <p>
          Founded by Technology and Business Leaders with over 20 years
          of successful experiences in large organisations delivering
          program of works across Digital, Call Centre and large scale
          technology transformations.
        </p>
        <p>
          We are passionate about building
          high performing Engineering teams and getting things done.. We
          are very excited to share our experiences and offer our expertise to
          customers across industries who are facing similar challenges
          that we were able to overcome.
        </p>
      </div>
    </section>
    <section id="section4">
      <div class="container">
        <div class="ctn-contact">
          <div class="title">
            Contact
          </div>
          <form name="contactForm" ng-submit="submitForm('contact')">
            <div class="form-field">
              <input ng-model="forms.contact.name" class="txt-inp" type="text" id="fname" placeholder=" "/>
              <label class="plh" for="fname">NAME</label>
            </div>
            <div class="form-field">
              <input ng-model="forms.contact.email" class="txt-inp" type="email" id="email" placeholder=" "/>
              <label class="plh" for="email">EMAIL</label>
            </div>
            <div class="form-field">
              <textarea ng-model="forms.contact.message" id="message" placeholder=" "></textarea>
              <label class="plh" for="message">MESSAGE</label>
            </div>
            <div class="form-field text-right">
              <button class="btn-pr" type="submit" ng-disabled="contactForm.$invalid">SEND</button>
            </div>
          </form>
        </div>
      </div>
      <div class="divide"></div>
      <div class="container">
        <div class="row footer">
          <div class="col-3">
            <div class="title">
              Product
            </div>
            <div class="links">
              <a href="javascript:void(0)">Features</a>
            </div>
          </div>
          <div class="col-3">
            <div class="title">
              Company
            </div>
            <div class="links">
              <a href="javascript:void(0)">Team</a><br/>
              <a href="javascript:void(0)">Privacy Policy</a><br/>
              <a href="javascript:void(0)">Unknown Policy</a><br/>
              <a href="javascript:void(0)">Terms of Service</a>
            </div>
          </div>
          <div class="col-3">
            <div class="title">
              Sources
            </div>
            <div class="links">
              <a href="javascript:void(0)">Scopus</a><br/>
              <a href="javascript:void(0)">Scimago</a><br/>
              <a href="javascript:void(0)">Science Direct</a>
            </div>
          </div>
          <div class="col-3">
            <img src="img/logo.svg" />
            <div class="res">Launching Your Research</div>
            <div class="social">
              <div>Find us on:</div>
              <div class="icons">
                <a href="javascript:void(0)"><img src="img/fb.svg"/></a>
                <a href="javascript:void(0)"><img src="img/ig.svg"/></a>
                <a href="javascript:void(0)"><img src="img/li.svg"/></a>
                <a href="javascript:void(0)"><img src="img/tw.svg"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright text-center">
        © 2018-2019 Scipoeia. All rights reserved
      </div>
      <img class="net" src="img/bg-bottom.png" />      
    </section>
    
    <div class="modal fade" id="sub-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="ctn-contact modal-content">
          <div class="title">
            Scipoeia
          </div>
          <div class="sub-title">
            Sign Up and we will let you know<br/> what we're up to
          </div>
          <form name="subscribeForm" ng-submit="submitForm('subscribe')">
            <div class="form-field">
              <input ng-model="forms.subscribe.email" class="txt-inp" type="email" id="email" placeholder=" " required/>
              <label class="plh" for="email">EMAIL</label>
            </div>
            <div class="form-field">
              <input ng-model="forms.subscribe.fname" class="txt-inp" type="text" id="f-name" placeholder=" "/>
              <label class="plh" for="f-name">FIRST NAME</label>
            </div>
            <div class="form-field">
              <input ng-model="forms.subscribe.lname" class="txt-inp" type="text" id="l-name" placeholder=" "/>
              <label class="plh" for="l-name">LAST NAME</label>
            </div>
            <div class="form-field mb-0">
              <div class="custom-control custom-checkbox">
                <input ng-model="forms.subscribe.agree" type="checkbox" class="custom-control-input" id="customCheck1" required>
                <label class="custom-control-label" for="customCheck1">Agree to Privacy Policy</label>
              </div>
            </div>
            <div class="form-field mb-0 text-center">
              <button type="submit" class="btn-pr" ng-disabled="subscribeForm.$invalid">SUBSCRIBE</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script>
      var l = console.log.bind(window.console)
      , app = angular.module('app', [])

      app.controller('Ctrl', function($scope){
        var resetForms = function(){
          $scope.forms = {
            contact: {
              name: "",
              email: "",
              message: "",
            },
            subscribe: {
              email: "",
              fname: "",
              lname: "",
              agree: false
            },
          }

          $(".modal").modal('hide')
        }

        $scope.scrollTo = function(el){
          $('html, body').animate({
            scrollTop: $(el).offset().top
            // scrollTop: $("#div1").offset().top
          }, 500);
        }

        $scope.submitForm = function(type) {
          alert('Submitted with values in console.log')
          if(type === "contact"){
            l("Contact details", $scope.forms.contact)
          } else{
            l("Subscribe details", $scope.forms.subscribe)
          }

          resetForms()
        }

        resetForms()
      })
    </script>
  </body>
</html>